.Rproj.user
.Rhistory
.RData
.Ruserdata

/.quarto/
/labs
/projects
./course-materials/lectures/33_SQL-examples.qmd
itpas2.txt
pas220.zip
Archive.zip
2011.csv
course-materials/lectures/2011.csv

SDS192.Rproj

./course-materials/projects/project_2_xlsx/WCA_data.tar.bz2
./course-materials/projects/project_2_xlsx/WCA_scramble_data.tar.bz2
course-materials/_projects/project_2_xlsx/WCA_data_3_20_2026.tsv
course-materials/_projects/project_2_xlsx/WCA_data
course-materials/_projects/project_2_xlsx/Project_2.zip

**/*.quarto_ipynb
